.btn-rotas {
  align-self: flex-end;
  border: none;
  width: 15em;
  height: 2.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  font-size: 15px;
  color: white;
  background-color: #101010;
  cursor: pointer;
  font-weight: bold;
}
.btn-rotas:hover {
  background-color: #202020;
}
.footer {
  display: flex;
  width: 80%;
  margin-top: 2rem;
  justify-content: flex-end;
}
