.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 2rem 0 2rem 0;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  & button {
    width: 200px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
  }
  .btn-new {
    border: none;
    width: 6.5rem;
    height: 2.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    font-size: 15px;
    color: white;
    background-color: #101010;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
  .btn-new:hover {
    background-color: #202020;
  }
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  & input {
    width: 200px;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid grey;
    background-color: #ffff;
    border-radius: 5px;
  }
}
